## Palabras

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [2]:
UppercaseWords = []
for word in words:
    UppercaseWords.append(word.upper())

print(UppercaseWords)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Crea una nueva lista que contenga 5 o más letras**

In [3]:
more_than_4_letters = []
for word in words:
    if len(word) > 4:
        more_than_4_letters.append(word)

print(more_than_4_letters)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Imprime la primera palabra que empiece por 't'**

In [4]:
first_t_word = []
for word in words:
    if word[0] == 't':
        first_t_word.append(word)
        break

print(first_t_word)

['theatre']

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [5]:
cuadrados_1 = []
for n in range(11):
    cuadrados_1.append(n**2)

print(cuadrados_1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [6]:
cuadrados_2 = []
for n in range(11):
    if n % 2 != 0:
        cuadrados_2.append(n**2)

print(cuadrados_2)

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [7]:
cuadrados_3 = []
for n in range(8, 1000):
    if n % 8 == 0:
        cuadrados_3.append(n**2)

print(cuadrados_3)# tu codigo aquí

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [8]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [9]:
n_of_people = 0
for n in people:
    n_of_people += 1

print(n_of_people)

5

**Cuanta gente tiene hijos**?

In [10]:
n_of_people_with_children = 0
for n in people:
    if n['n_kids']:
        n_of_people_with_children += 1

print(n_of_people_with_children)

4

**Cuantos hijos tienen en total?**

In [11]:
n_of_children = 0
for n in people:
    if n['n_kids']:
        n_of_children += n['n_kids']

print(n_of_children)

10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [12]:
n_of_future_children = 0
for n in people:
    if n['n_kids']:
        n_of_future_children += n['n_kids']
    if n['name'][-1] == 'a':
        n_of_future_children +=1

print(n_of_future_children)

12